* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.about {
  font-size: 20px;
  text-align: center;
  padding: 20px;
background-color: lemonchiffon;
}

.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  /* padding: 8px; */
}

.logo {
  margin-left: 10px;
  float: left;
}

.navbar nav {
	position:sticky;
	float:right;
	left: 52%;
  overflow: auto;
  display: flex;
}

.navbar nav a {
  text-decoration: none;
  display: block;
  color: #fff;
  height:50px;
  text-align: center;
  top: 3px;
  padding: 10px 10px;
  transition: 0.3s ease;
}
nav a:hover {
	background-color: #ddd;
	color: black;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.homepic {
  /* z-index: -1; */
  filter: brightness(50%);
  width: 100%;
  height:640px;
  /* filter: blur(1px); */
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transform: translate(-50%, -50%);
}

.centered p {
  letter-spacing: 0.5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-image: url(images/holi.jpeg);
}

.cont2 {
	background-image: url(images/holi.jpeg);
	margin: auto;
	width:100%;
	top:10%;

}
.bottom {
	position: relative;
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
}

.bottom i {
  color: #fff;
}

form {
	display: flex;
	align-items:center;
	justify-content:space-around;
	overflow: auto;
}

.where {
	display:flex;
	align-items: center;
  justify-content: space-around;
	overflow:auto;
	position:sticky;
	padding-bottom:10px;
}
.tym {
	float: left;
}
#when {
	padding:2px;
}
#when2 {
	padding:2px;
}
#error {
	color: red;
	font-size:18x;
	width: 100%;
	text-align:center;
}
.city {
	float: right;
}

.form-label{
	font-size: 20px;
	font-size:20px;
}
label {
  color: #fff;
}
.form-select {
	padding: 4px;
	width: 140px;
}
.form-select option {
	font-size:15px;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: rgb(49, 196, 196);
  color: #fff;
  font-size: 18px;
  padding: 8px 18px 8px 18px;
  margin-bottom: 15px;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(30, 151, 151);
  transform: scale(1.05);
  font-weight: bold;
}

.small-container {
  max-width: 1250px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.heading {
  text-align: center;
  font-family: Algerian;
  font-size: 40px;
  padding: 40px;
  margin-top: 50px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.row2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col-3 {
  flex-basis: 31%;
  min-width: 250px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.pict {
  width: 370px;
  height: 360px;
  filter: brightness(50%);
}

.cont-1 {
  position: relative;
  text-align: left;
  color: white;
  font-size: 18px;
}

.cont-1:hover{
	transform: scale(1.1);
}

.text {
  position: absolute;
  left: 4%;
  top: 10%;
  right: 5%;
}

.footer {
  padding: 20px;
  margin-top: 70px;
  background: #333;
  color: #fff;
}
.col-2 {
	padding: 20px;
}
.col-2 ul li {
  list-style-type: none;
  color: #fff;
}

.col-2 ul li a {
  text-decoration: none;
  color: #fff;
}

.col-2 ul li b {
  font-size: 20px;
}

.col-2 img {
  padding: 20px;
}

@media screen and (max-width: 1000px) {
	
	form submit {
		width: 100%;
		align-items:center;
		
	}
	form {
		flex-direction: column;
padding-bottom:5px;
	}
}

@media screen and (max-width: 700px) {
	.logo img{
		height:100px;
	}
	.row{
		flex-direction:column;
	}
	.navbar {
		flex-direction: column;
	}
	nav {
		flex-direction:column;
		width: 100%;
	}
	.where {
		flex-direction:column;
		justify-content: space-around;
		width:100%;
		align-items:center;
		position:sticky;
	}
	
	.tym {
		width:100%;
		align-items:center;		
        text-align: center;
		
	}
	.city {
		width:100%;		
		align-items:center;
		padding-top:5px;
		padding-bottom:5px;
		text-align:center;
	}
	form {
		flex-direction: column;
	}
	form submit {
	    width : 100%;
		align-items:center;
		padding-top: 5px;
	}
}
