* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  /* padding: 8px; */
}

.logo {
  margin-left: 10px;
  float: left;
}

.navbar nav {
	position:sticky;
	float:right;
	left: 60%;
  overflow: auto;
  display: flex;
}

.navbar nav a {
  text-decoration: none;
  display: block;
  color: #fff;
  height:50px;
  text-align: center;
  top: 3px;
  padding: 10px 10px;
  
}
nav a:hover {
	background-color: #ddd;
	color: black;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.homepic1 {
  filter: brightness(50%);
  width: 100%;
  height: 640px;
}

.about {
  font-size: 20px;
  text-align: center;
  padding: 20px;
background-color: lemonchiffon;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 25px;
  transform: translate(-50%, -50%);
}
.row2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.col-2 {
	padding: 20px;
}

@media screen and (max-width: 700px) {
	.row{
		flex-direction:column;
	}
	.navbar {
		flex-direction: column;
	}
	nav {
		flex-direction:column;
		width: 100%;
	}
}
