.cont-2 {
  position: relative;
  text-align: left;
  color: white;
  font-size: 18px;
}

.ghome {
  width: 100%;
  height: 300px;
  filter: brightness(70%);
  border-bottom: 2px solid #000;
}

.face {
  position: absolute;
  left: 43%;
  bottom: -20%;
  border: none;
}

.face img {
  border-radius: 100px;
  filter: brightness(80%);
}

h1 {
  margin-top: 80px;
  text-align: center;
}

.extra {
  margin-top: 60px;
  margin-left: 170px;
  text-align: justify;
  margin-right: 60px;
}

ul {
  list-style-type: none;
}

.head {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

.bg1 {
  background-color: beige;
}

.check {
  position: absolute;
  left: 65%;
  bottom: -1%;
}

.info {
  position: absolute;
  left: 10%;
  bottom: 8%;
  color: #000;
}

.btn {
  display: inline-block;
  background: #fff;
  color: rgb(35, 218, 147);
  padding: 5px 40px;
  margin: 30px 0;
  border-radius: 10px;
  transition: 0.5s ease;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.09);
}

.navbar nav {
  position: sticky;
  float: right;
  left: 63% !important;
  overflow: auto;
  display: flex;
}
